SUPABASE_URL=https://svijmtiaeormkmdtmbud.supabase.co
SUPABASE_KEY=sb_publishable_e6LgiJKOQeA6VXi5Ng_JGg_Q8aKNDLD
OPENALEX_MAILTO=punnatat.tee@dome.tu.ac.th
TU_API_KEY=TU7cddd86982f3c4324a82df5a872e5d6fae93c9c817fb3fff5997ee4b76b774be14e5f527b6bbdbdc7631c3a9064319c4